.post-title {
    color: rgba(255, 255, 255, .8);
    font-size: 3.37rem;
    font-weight: 800;
}
.post-release-date {
    color: rgba(255, 255, 255, .7);
    font-family: -apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica Neue','Arial','Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}
.post-description {
    color: #d9d7e0;
    border-bottom: 1px solid #232129;
    padding-bottom: 2rem;
    margin-top: 40px;
    margin-bottom: 1.45rem;
    font-family: -apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica Neue','Arial','Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}
.post-description img {
    display: block;
}
.post-description h2,
.post-description h3,
.post-description h4,
.post-description h5 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}
.post-link {
    position: relative;
    color: #b17acc;
    text-decoration: none;
    font-family: "Futura PT", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 700;
    cursor: pointer;
}
.post-link__arrow {
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translateY(-50%);
}
